{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Tracker</title>
    <link rel="stylesheet" href="{% static 'PFT/styles.css' %}">
</head>
<body>

<header class="main-header">
    <div class="container nav-container">
        <a class="logo" href="{% url 'dashboard' %}">PFT</a>
        <nav class="main-nav">
            <ul class="nav-links">
                <li><a href="{% url 'transaction_list' %}">Transactions</a></li>
                <li><a href="{% url 'category_list' %}">Categories</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<main class="container content">
    {% block content %}
    {% endblock %}
</main>

</body>
</html>
